@media screen and (max-width: 576px) {
    
    /* navbar responsive here  */
    .nav-main {
        flex-direction: column;
        gap: 24px;
    }
    .nav-right {
        flex-direction: column;
        gap: 20px;
    }
    .nav-container {
        box-shadow: none;
    }
    /* header responsive here  */
    .header-main {
        flex-direction: column-reverse;
        margin-top: 70px;
    }
    .header-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-right {
        width: 80%;
        margin-bottom: 60px;
    }
    /* gammer section responsive here */
    .gammer-main {
        flex-direction: column;
    }
    .gammer-left {
        width: 80%;
    }
    .gammer-right {
        width: 70%;
        text-align: center;
        /* margin-top: 30px; */
    }
    .gammer-right .gammer-right-title {
        font-size: 1.5rem;
    }
    .gammer-right .gammer-right-description {
        font-size: 14px;
    }
    .gammer-btn {
        font-size: 12px;
    }
    .gammer-span {
        font-size: 16px;
    }
    /* online card responsive here */
    .online-main {
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        ;
        width: 80%;
        margin: 0 auto;
        gap: 30px;
    }
    /* play instantly responsive here  */
    .play-main {
        flex-direction: column;
        gap: 40px;
    }
    .play-left {
        width: 70%;
    }
    .play-right {
        width: 70%;
    }
    /* category section responsive here */
    .category-child {
        flex-basis: 150px;
    }
}