
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
body {
    font-family: "Work Sans", sans-serif;
}
/* navbar design starts here */
.nav-container {
    box-shadow: 0 4px 4px rgba(55, 50, 50, 0.085);
}
.nav-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.nav-left {
    display: flex;
    align-items: center;
    font-size: 40px;
}
.nav-left span {
    color: #FF42A5;
    margin-left: 10px;
}
.nav-right {
    display: flex;
    gap: 20px;
}
.nav-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.btn-follow {
    padding: 7px 15px;
    background-color: rgb(158, 151, 173);
    border-radius: 7px;
}
/* header design starts here */
.header-container {
    background-image: url(../images/Group\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.header-left {
    width: 50%;
}
.goat {
    font-size: 55px;
    background-image: linear-gradient(#f94882, #8758f1);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgb(0, 0, 0.300);
}
.overly {
    text-shadow: none;
}
.header-right {
    width: 50%;
}
.header-right img{
    width: 100%;
}
.header-btn1, .header-btn2 {
    padding: 14px 35px;
    border: none;
    border-radius: 25px;
    margin-top: 22px;
    color: white;
    font-size: 1rem;
}
.header-btn1 {
    background-color: rgba(255, 66, 165, 1);
    margin-right:10px
}
.header-btn2 {
    background-color: rgba(78, 197, 247, 1);
}
/* online game design starts here */
.online-main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-areas: 
    "a b c d"
    ;
    gap: 10px;
}
.online-cart img {
    width: 100%;
}
.card-1 {
    grid-area: a;
}
.card-2 {
    grid-area: b;
}
.card-3 {
    grid-area: c;
}
.card-4 {
    grid-area: d;
}
.online-cart {
    position: relative;
}
.watch-now {
    position: absolute;
    text-align: center;
    top: 38%;
    left: 38%;
    display: none;
}
.watch-now span {
    color: white;
    font-size: 30px;
    border-radius: 50%;
}
.watch-now p {
    color: rgb(154, 22, 22);
}
.online-cart img:hover+.watch-now {
    display: block;
}
.online-cart img:hover {
    filter:brightness(50%);
}
.online-cart:hover .watch-now{
    display: block;
}

/* play instanly design here  */
.play-main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 8cqh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.play-left {
    width: 40%;
}
.play-right {
    width: 40%;
    position: relative;
}
.play-right img{
    width: 100%;
}
.play-right .biral {
    position: absolute;
    width: 180px;
    height: 200px;
    bottom: -60px;
    left: -70px;
}
/* category section design here  */
.category-main {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.category-child {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    flex-basis: 200px;
    font-size: 12px;
}
.category-child img{
    width: 40px;
}
.category-child:hover {
    outline: 1px solid red;
}